.container{
    max-width: 500px;
    margin:auto;
    background-color: #3A2618;
    background-image: url(../images/barbecue-500.jpg);
    background-attachment: fixed;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    float: inline-start;
    box-shadow: #171614;
    -webkit-box-shadow: 9px 9px 9px ;
    overflow: auto;
}

.container2{
    max-width: 800px;
    margin:auto;
    background-color: #3A2618;
    background-image: url(../images/barbecue-800.jpg);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    float: inline-start;
    box-shadow: #171614;
    -webkit-box-shadow: 9px 9px 9px ;
    overflow: auto;
}

#resultado{
    -webkit-box-shadow: 0px 0px 0px;
}

#consumo1{
    width: 50%;
    display: block;
    box-sizing: border-box;
    float: left;
}

#consumo2{
    width: 50%;
    display: block;
    box-sizing: border-box;
    float: right;
}

.separador{
    background-color: black;
    width: 50%;
    display: block;
    box-sizing: border-box;
    float: right;
}

h1, h2, h3, h4, h5, p{
    margin-top: 0px;
    color: white;
}

h1, h2, h3{
    text-align: center;
    text-shadow: red 2px 2px 5px;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 16px;
    text-shadow: red 2px 2px 5px;
}

h5{
    font-size: 20px;
    text-shadow: rgb(255, 115, 0) 2px 2px 5px;
}

p{
    font-size: 16px;
}

input{
    width: 50%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #171614;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

body{
    background-image: url(../images/barbecue-background.jpg);
    margin: auto;

}

button{
    width: 50%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

3A2618 claro
171614 escuro
