:root {
  --medium-brown: #3a2618;
  --dark-brown: #171614;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  background-image: url(../images/barbecue-background.jpg);
  margin: auto;
}

h1 {
  display: block;
  text-align: center;
  margin: 15px;
  color: var(--white);
}

ul,
p {
  color: var(--white);
  list-style: none;
  margin: 15px;
}

li {
  margin: 10px;
}

input {
  width: 70%;
  display: block;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: #9b8b7c;
  color: var(--white);
  margin: 15px auto;
}

input::placeholder {
  color: rgb(255, 255, 255);
}

input:focus {
  background-color: #dbc6b3;
}

button {
  width: 70%;
  display: block;
  border-radius: 50px;
  border: none;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--medium-brown);
  color: var(--white);
  transition: all 0.2s;
}

button:hover {
  box-shadow: 5px 10px 10px rgba(177, 165, 5, 0.411);
  transform: translateY(-2px);
}

button:focus,
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px rgba(177, 166, 5, 0.829);
}

::-webkit-scrollbar-thumb {
  background: var(--medium-brown);
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: var(--medium-brown);
  background-image: url(../images/barbecue-500.jpg);
  background-attachment: fixed;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  float: inline-start;
  box-shadow: 9px 9px 10px rgba(177, 165, 5, 0.411);

  overflow: auto;
}

.container2 {
  max-width: 800px;
  margin: auto;
  background-color: var(--medium-brown);
  background-image: url(../images/barbecue-800.jpg);
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  float: inline-start;
  box-shadow: var(--dark-brown);
  -webkit-box-shadow: 9px 9px 9px;
  overflow: auto;
}

#resultado {
  -webkit-box-shadow: 0px 0px 0px;
}

#consumo1 {
  width: 50%;
  display: block;
  box-sizing: border-box;
  float: left;
}

#consumo2 {
  width: 50%;
  display: block;
  box-sizing: border-box;
  float: right;
}

.separador {
  background-color: var(--black);
  width: 50%;
  display: block;
  box-sizing: border-box;
  float: right;
}

.titulo {
  margin-top: 20px;
  color: #cab814;
}

.titulo-secao {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--white);
}
